# AI
AI_BASE_URL=https://api.openai.com/v1
AI_API_KEY=sk-xxx
AI_API_METHOD=responses|chat-completions
AI_MODEL=gpt-5.4
AI_SDK_LOG_WARNINGS=false

# Tavily
TAVILY_API_KEY=tvly-xxx

# PubMed
# https://account.ncbi.nlm.nih.gov/settings/
PUBMED_TOOL=agents
PUBMED_EMAIL=pubmed@example.com
PUBMED_API_KEY=xxx

# WebShare
WEBSHARE_API_KEY=xxx