# Database
DATABASE_URL="postgres://USER:PASSWORD@HOST:5432/DB_NAME?options=-c%20TimeZone%3DAsia%2FShanghai"

# AI
AI_BASE_URL="https://api.openai.com/v1"
AI_API_KEY="sk-xxx"
AI_LANGUAGE_MODEL="gpt-5.4"

# Deploy
DEPLOY_CONN_STR="<user>@<host>:<port>:/path/to/compose.yaml"